<div style="margin: 10px">
<p>Welcome, <%= current_user.first_name %></p>
<p><a href="/logout">Log Out</a></p>
<h1 style="color: #076c6f">All Tracks</h1>
<hr style="width: 100%; color: black; height: 1px; background-color:black;">
<% @tracks.each do |track| %>
  <h3 style="color: #00B0B6"><a href="/tracks/<%= track.id %>" style="text-decoration: none !important"><%= track.song_title %></a> <small style="color: #000000">(by: <%= track.author %>)</small></h3>

  <% if current_user %>  
    <form method="post" action="/votes">
      <input type="hidden" name="track_id" value="<%= track.id %>">
        <button type="submit">
          <h4>Votes: <%= track.votes.count %></h4>
        </button>
    </form>
  <% else %>
    <form>
      <input type="hidden" name="track_id" value="<%= track.id %>">
        <button type="submit">
          <h4>Voting Not Allowed!</h4>
        </button>
    </form>
  <% end %>

  <small style="color: #CC0000">(time: <%= track.created_at %>)</small>

<% end %>

<hr style="width: 100%; color: black; height: 1px; background-color:black;">
<a href='/tracks/new'>Post a new track!</a>

</div>


