<div style="margin: 10px">

<form method="post" action="/review">
  <input type="hidden" name="track_id" value="<%= @track.id %>">
  <div class="form-group">
    <label>Add Review:</label>
    <br>
    <input style="padding-bottom: 100px; width: 250px;" type="text" name="user_review">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

  <h2 style="color: #ff014e"><%= @track.song_title %> <small style="color: #000000">(by: <%= @track.author %>)</small></h2>
  <small style="color: #0000CC">(time: <%= @track.created_at %>)</small>

  <hr>
  <h3>Reviews</h3>
  <p>
  <% @reviews.each do |review| %>
    <p><small>(time: <%= review.created_at %>)</small> - <%= review.user_review %></p>
  <% end %>
  </p>

<hr>
<a href='/tracks'>Back to All Tracks</a>
</div>
